---
layout: default
title: 
page-title: 
home-title: 上崇似天，下平似地，中空准六合，弦柱似十二月，设之则四象在，鼓之则五音发，斯乃仁智之器 --《筝赋序》。
description:
---

{% include header.html %}
{% include boot.html %}
<main>
    {% include title.html %}
    <ul class="ex-list">
        <li  class="fadeInUp animated">
          {% for friend in site.friends %}
            <span class="tag-name" >
                <a href="{{ friend[1] }}">「&emsp;{{ friend[0] }}&emsp;」</a>
            </span>
                </br>
          {% endfor %}
        </li>
    </ul>
</main>
{% include footer.html %}
